:root {
    --white-color: #fff;
    --black-color: #000;
    --xanhvieninput: #80bdff;
    --xanhbutton: #128c7e;
    --colorbutton: #128c7e;
    --border: #adadad #3f5a93 #bf2c24 #9fadc9 #758774 #527f4f #89898957 #436ab3;

}

* {
    box-sizing: inherit;
    font-family: 'Lora', serif;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

body {
    margin: 0
}

body>.web-page {
    line-height: 1.4;
    height: 100%;
    /* background-image: url(/images/background-body.png); */
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
}

p {
    margin: 0;
}